<!DOCTYPE html>
<html lang="en">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student Login</title>
</head>
<body>
    <h1>login form</h1>
    <h1>Welcome to Student login</h1>
    <p>if you are already registed click on login button</p>
    <p>if not click on register to register yourself</p>
    <a href="/log">
<button class = "btn btn-success">login</button>
</a>
<a href="/reg">
<button class = "btn btn-secondary">register</button>
</a>
    
</body>
</html>
Footer
